/* Home Starts here*/



/* About */


/* Tracks */


/* Timeline */

.timeline .timeline-item .timeline-marker.is-icon.is-large {
    height: 2.8em;
    width: 2.8em;
    line-height: 1.5rem;
}

.timeline .timeline-item .timeline-content .heading.is-date {
    font-size: medium;
}

#timeline {
    background: linear-gradient(-45deg, #3CC6F3, #74C36D);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: inherit;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#timeline .blurrbg {
    backdrop-filter: blur(5px);
    min-width: inherit;
    min-height: inherit;
}


/* Team */


/* Footer */

.footer {
    background: #eef8ff;
    width: 100vw;
    position: absolute;
    background: linear-gradient(to right,  #74C36D, #3CC6F3);
    color: #fff;
    padding: 20px 10px 500px ;
    padding-bottom: -50px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 450;
}

footer.footer{
  padding-bottom: 8px;
}
.footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.footer .col {
    flex-basis: 25%;
    padding: 20px;
    color: #fff;
}

.footer .col:nth-child(2) {
    margin-top: 45px;
    line-height: 30px;
    flex-basis: 25%;
}

.footer .col .off{
  margin-top: -40px;
}

.footer .col:nth-child(3) {
    flex-basis: 20%;
    line-height: 9px;
    color: #fff;
    flex-basis: 25%;
}

.footer .row .col .image .logo {

    width: 120px;
    height: 120px;
    margin-left: -50px;
}

.footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-weight: 600;
    color:rgb(0, 0, 0);

}

.footer .email-id {
    text-decoration: none;
    color: inherit;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footer .email-id a:hover {
    color: #ccc
}

.footer .row .col ul li {
    list-style: none;
    margin-bottom: 20px;
}

.footer .row .col ul li a {       /* links*/
    text-decoration: none;
    color: #fff;
}

.footer .row .col .form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.social-icons a {

    margin-right: -310px;
    margin-left: 90px;
    margin-top: 1200px;
    margin-bottom: 50px;
    border-radius: 2%;
    cursor: pointer;
    color: #175357;
    font-size: 60px;
}
.col .social-icons hr {
    transform: translateX(-90px) ;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}


.footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
}

.footer .copyright {
    text-align: center;
    font-size: 18px;
}

.footer .underline {
    width: 100%;
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
}

.footer .col .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer .col.social {
    text-align: center;
}

.footer .col.social hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

.footer .link-icons {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.footer .col.social a:hover {
    color: #b9b9b9;
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }
    .footer .col {
        flex-basis: 100%;
        padding: 10px;
    }
    .footer .col:nth-child(2),
    .col:nth-child(2) {
        flex-basis: 100%;
    }
}