/* Home Starts here*/

#home {
    position: relative;
    width: 100vw;
    min-height: 670px;
    margin: 0%;
    padding: 0%;
}

.landingPageText {
    position: absolute;
    font-size: 55px;
    top: 60%;
    left: 10%;
    margin-left: -30px;
    margin-top: -50px;
}

.home .btns a {
    display: flex;
    position: absolute;
    font-size: 30px;
    overflow: hidden;
    top: 80%;
    left: 10%;
    width: 300px;
    margin-left: -70px;
    padding: 12px 60px;
    margin-top: -80px;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #3CC6F3, #74C36D);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btns a>span {
    position: absolute;
    background-repeat: repeat-y;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.5;
    animation: animate 0.3s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 600px;
        height: 600px;
    }
}


/* For Mobile */

@media screen and (max-width: 540px) {
    .home .logo {
        position: relative;
        width: 140px;
        height: 150px;
        margin-left: 60px;
        top: 40px;
    }
    .home-content {
        display: none;
    }
}


/* For Tablets */

@media screen and (min-width: 540px) and (max-width: 780px) {
    .home .logo {
        position: relative;
        width: 140px;
        height: 150px;
        margin-left: 30px;
        top: 40px;
    }
}

.home .logo {
    position: relative;
    width: 180px;
    height: 190px;
    left: 130px;
    top: 60px;
}

.home .bg {
    position: relative;
    margin-top: -250px;
    z-index: -1;
    background-size: cover;
}

.home .bg img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.home-content {
    position: auto;
    background-repeat: no-repeat;
    background-position: auto;
    width: 45%;
    height: 45%;
    bottom: 0px;
    margin: 0%;
    margin-left: 55%;
    margin-top: -150px;
    z-index: 100;
}

.home-content svg {
    margin-top: -1200px;
}

svg#freepik_stories-creativity:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-creativity.animated #freepik--background-complete--inject-5 {
    animation: 1s 1 forwards ease-out fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-creativity.animated #freepik--Pencil--inject-5 {
    animation: 1s 1 forwards ease-out fadeIn, 3s Infinite linear floating;
    animation-delay: 0s, 1s;
}

svg#freepik_stories-creativity.animated #freepik--Notebook--inject-5 {
    animation: 1s 1 forwards ease-out slideUp;
    animation-delay: 0s;
}

#about {
    margin-top: 120px;
}

#about .container {
    /*context def*/
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    /*def container*/
    /*box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);*/
    max-width: 70em;
    border-radius: 5px;
    background-color: rgba(112, 112, 112, 0.849);
    backdrop-filter: blur(40px);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
    margin-bottom: 15%;
    color: rgb(0, 0, 0);
}

#about .about-text {
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}

svg#freepik_stories-creativity.animated #freepik--air-balloon--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
    animation-delay: 0s;
}

svg#freepik_stories-creativity.animated #freepik--Character--inject-5 {
    animation: 1s 1 forwards ease-out slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-creativity.animated #freepik--light-bulb--inject-5 {
    animation: 1.5s 1 forwards ease-out zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-creativity.animated #freepik--Book--inject-5 {
    animation: 1.5s 1 forwards ease-out slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-creativity.animated #freepik--Stars--inject-5 {
    animation: 1s 1 forwards ease-out zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-creativity.animated #freepik--Planets--inject-5 {
    animation: 1.5s 1 forwards ease-out zoomIn;
    animation-delay: 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* About */


/* Tracks */


/* Timeline */

.timeline .timeline-item .timeline-marker.is-icon.is-large {
    height: 2.8em;
    width: 2.8em;
    line-height: 1.5rem;
}

.timeline .timeline-item .timeline-content .heading.is-date {
    font-size: medium;
}

#timeline {
    background: linear-gradient(-45deg, #3CC6F3, #74C36D);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: inherit;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#timeline .blurrbg {
    backdrop-filter: blur(5px);
    min-width: inherit;
    min-height: inherit;
}


/* Team */


/* Footer */

.footer {
    background: #eef8ff;
    width: 100vw;
    position: absolute;
    background: linear-gradient(to right,  #74C36D, #3CC6F3);
    color: #fff;
    padding: 20px 10px 500px ;
    padding-bottom: -50px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 450;
}

footer.footer{
  padding-bottom: 8px;
}
.footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.footer .col {
    flex-basis: 25%;
    padding: 20px;
    color: #fff;
}

.footer .col:nth-child(2) {
    margin-top: 45px;
    line-height: 30px;
    flex-basis: 25%;
}

.footer .col .off{
  margin-top: -40px;
}

.footer .col:nth-child(3) {
    flex-basis: 20%;
    line-height: 9px;
    color: #fff;
    flex-basis: 25%;
}

.footer .row .col .image .logo {

    width: 120px;
    height: 120px;
    margin-left: -50px;
}

.footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-weight: 600;
    color:rgb(0, 0, 0);

}

.footer .email-id {
    text-decoration: none;
    color: inherit;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footer .email-id a:hover {
    color: #ccc
}

.footer .row .col ul li {
    list-style: none;
    margin-bottom: 20px;
}

.footer .row .col ul li a {       /* links*/
    text-decoration: none;
    color: #fff;
}

.footer .row .col .form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.social-icons a {

    margin-right: -310px;
    margin-left: 90px;
    margin-top: 1200px;
    margin-bottom: 50px;
    border-radius: 2%;
    cursor: pointer;
    color: #175357;
    font-size: 60px;
}
.col .social-icons hr {
    transform: translateX(-90px) ;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}


.footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
}

.footer .copyright {
    text-align: center;
    font-size: 18px;
}

.footer .underline {
    width: 100%;
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
}

.footer .col .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer .col.social {
    text-align: center;
}

.footer .col.social hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

.footer .link-icons {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.footer .col.social a:hover {
    color: #b9b9b9;
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }
    .footer .col {
        flex-basis: 100%;
        padding: 10px;
    }
    .footer .col:nth-child(2),
    .col:nth-child(2) {
        flex-basis: 100%;
    }
}
